# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env

# Virtual Environment
venv/
.venv/
ENV/
env/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Angular
/dist
.angular

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store